.error-page {
  align-items: flex-end;
  justify-content: space-between;
  text-align: end;

  &__title {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &__code {
    $font-size: clamp(6rem, 8vw, 8rem);

    font-size: $font-size;
    line-height: $font-size;
  }
}
