<ul class="social-links">
    {{> social-link icon="#icons8-facebook" link="https://www.facebook.com/yaroslav.pronin" title="Facebook" }}

    {{> social-link icon="#icons8-github" link="https://github.com/proninyaroslav" title="GitHub" }}

    {{> social-link icon="#icons8-gitlab" link="https://gitlab.com/proninyaroslav" title="GitLab" }}

    {{> social-link icon="#icons8-twitterx" link="https://twitter.com/proninyaroslav" title="X" }}

    {{> social-link icon="#icons8-telegram" link="https://t.me/proninyaroslav" title="Telegram" }}

    {{> social-link icon="#icons8-vk" link="https://vk.com/yaroslav.pronin" title="VK" }}
</ul>
