$background: #fafaf8;
$background-dark: #333;
$font: #333;
$font-dark: #fafaf8;
$font-heading: #252525;
$font-heading-dark: #f5f5f5;
$font-link: #4b4b4b;
$font-link-dark: #fff;
$card-background: #f5f5f5;
$card-background-dark: #252525;
